/*Font-family*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');

/*Wildcard selector*/

* {
    margin: 0px;
    padding:0px;
    font: inherit;
}

body {
   background-color: black;
    width: auto;
    padding:10px
}
/*header*/
#main-header {
    font-size: 50px;
    color: coral;
    min-height: auto;
    max-width:700px;
    margin-inline: auto;
    text-align: center;
    text-decoration: underline;
    flex-wrap: wrap;
    
}

.second-header {
    color:coral;   
    max-width: 500px;
    margin-inline: auto;
    text-align: center;
}

.main-image {
    max-width: 100%;
    flex-wrap: wrap;
    display:flex;
    
}

#navbar {  
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    border-bottom: 2px solid bisque;
    border-top: 2px solid bisque;
    
}

#navbar a {
    color:bisque;
    background-color:black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}

/*About us section*/
#about-section{
     color: bisque;
     background-color:black;
     text-align: center;
     
     

}

.about-image{
    max-width: 100%;
    flex-wrap: wrap;
    display:flex;
}

#about-us-header{
    font-size: 50px; 
    min-height: auto;
    max-width: 500px;
    margin-inline: auto;
    text-decoration: underline;
    
}

.about-us-paragraph {
    font-size: 20px;
    display:flex;
    
}

#contact-us {
    text-align: left;
    min-height: auto;
    min-width:auto;
    color:bisque;
    
}

#contact-header {    
      text-decoration: underline;
      font-size: 50px;
      
}

.your-details {
 
   
}

.contact-form {
   display:inline-block;
   width: 200px;
     
}

    
footer{
    min-height: 200px;;
}





