/*Font-family*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');

/*Wildcard selector*/

* {
    margin: 0px;
    padding:0px;
    font: inherit;
}

body {
    
   background-color: black;
   

    
}
/*header section*/
#main-header {
    text-align: center;
    font-size: 100px;
    color: coral;
    flex-wrap: wrap;
    text-decoration: underline;
   
}

.header-image {
    width: 100%;
    height: 400px;
    object-fit:fill;
    flex-wrap: wrap;
     
}

.second-header {
    color:coral;   
    font-size: 50px;
    text-align: center;
    flex-wrap: wrap;
  
}

#navbar {  
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    border-bottom: 2px solid bisque;
    border-top: 2px solid bisque;
    
}

#navbar a {
    color:bisque;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;

}

/*About us section*/
#about-section{
    color: bisque;
    background-color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    column-count: 2;
    flex-wrap: wrap;
     
}

.about-image{
    gap: 3rem 3rem;
    width:100%;
    height:200px;
   
}

#about-us-header{
    font-size: 50px; 
    text-decoration: underline;
    padding-left: 10px;
    
}

.about-us-paragraph {
    font-size: 20px;
    padding-left: 10px;
    flex-wrap: wrap;
    
}
/*Contact us section*/
#contact-us {
    overflow: clip;
    display: grid;
    grid-template-columns:1fr 1fr;
    text-align: center;
    color:bisque;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
         
}

.our-address {
    overflow: clip;
    justify-content: center;
    color:bisque;
    font-size: large;
}

#contact-header {
    text-align: center;    
    text-decoration: underline;
    font-size: 50px;
    color:bisque;
    border-top: 2px solid bisque;
    border-bottom: 2px solid bisque;
}

.your-details {
    overflow: clip;
    font-size: large;
   text-align: center;
   color:bisque;

}

.contact-form {
    overflow: clip;
   font-size: large;
   justify-content: center;
   text-align: center;
   display: grid;
   flex-wrap: wrap;
   gap:10px
     
}

#fname {
   
    text-align: center;
    width:115px;
}

#lname {
    
    text-align: center;
    width:115px;
}

#email {
    text-align: center;
    width:115px;
}

    /*Footer section*/
#footer {
    background-color: bisque;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
}

#footer ul {
    display:flex;
    font-size: xx-large;
    list-style-type: none;
    justify-content: center;
    gap: 1rem 3rem;
    flex-wrap: wrap;
      
}

#footer a {
   
      color: black;
      
}




